html{
  background: #111;
  font-family: sans-serif;
  color: white;
}
.main-wrap{
  width: 400px;
  height: 300px;
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 30px auto;
  border-radius: 10px;
}
.answer-wrap{
  background: #444;
  width: 250px;
  border-radius: 5px;
  margin: 10px;
}

.wins-wrap{
  background: #444;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 10px;
}

.guesses-wrap{
  background: #444;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 10px;
}

.wins{
  font-size: 50px;
  color: red;
  background: #444;
  width: auto;
  height: auto;

}

.guesses{
  font-size: 50px;
  color: red;
  background: #444;
  width: auto;
  height: auto;

}

.input-wrap{
  width: 110px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
#user-guess{
  width: 30px;
  height: 30px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  background: rgba(0,0,0,0.8);
  outline: 0;
  border: none;
  padding: 0;
  color: white;
}
.guess-btn{
  height: 30px;
  width: 60px;
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}
.reset{
  height: 30px;
  width: 30px;
  background: darkred;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  right: 0;
  align-self: flex-end;
  transform: translate(-10px,-50px);
  font-size: 1.5em;
}
